In [1]:
import investpy

In [3]:
search_result = investpy.search_quotes('apple',['stocks'],['united states'])
search_result

[<investpy.utils.search_obj.SearchObj at 0x1102be830>,
 <investpy.utils.search_obj.SearchObj at 0x1102bfe80>,
 <investpy.utils.search_obj.SearchObj at 0x1102bfa30>]

In [8]:
for obj in search_result:
    print(obj)

{"id_": 6408, "name": "Apple Inc", "symbol": "AAPL", "country": "united states", "tag": "/equities/apple-computer-inc", "pair_type": "stocks", "exchange": "NASDAQ"}
{"id_": 959642, "name": "Apple Hospitality REIT Inc", "symbol": "APLE", "country": "united states", "tag": "/equities/apple-hospitality-reit-inc", "pair_type": "stocks", "exchange": "NYSE"}
{"id_": 51484, "name": "Apple Rush Company", "symbol": "APRU", "country": "united states", "tag": "/equities/apple-rush-company", "pair_type": "stocks", "exchange": "OTC Markets"}

In [9]:
search_result = investpy.search_stocks(by='full_name', value='Apple')
search_result

,country,name,full_name,isin,currency,symbol
0,argentina,Apple DRC,Apple Inc DRC,ARDEUT116183,ARS,AAPL
1,brazil,Apple Inc BDR,Apple Inc BDR,BRAAPLBDR004,BRL,AAPL34
2,mexico,Apple,Apple Inc,US0378331005,MXN,AAPL
3,united states,Apple,Apple Inc,US0378331005,USD,AAPL
4,united states,Maui Land&Pineapple,Maui Land & Pineapple Company Inc,US5773451019,USD,MLP
5,united states,Apple Hospitality REIT,Apple Hospitality REIT Inc,US03784Y2000,USD,APLE
6,austria,Apple,Apple Inc,US0378331005,EUR,AAPL
7,ireland,Applegreen Plc,Applegreen Plc,IE00BXC8D038,EUR,APGNA
8,italy,Apple,Apple Inc,US0378331005,EUR,AAPLE
9,switzerland,Apple,Apple Inc,US0378331005,EUR,AAPLEUR
10,switzerland,Apple,Apple Inc,US0378331005,USD,AAPLUSD
11,switzerland,Apple,Apple Inc,US0378331005,CHF,AAPL
12,china,Apple Flavor & Fragrance,Apple Flavor & Fragrance Group Co Ltd,CNE1000025D1,CNY,603020
13,japan,Apple International,Apple International Co Ltd,JP3121170009,JPY,2788

In [10]:
search_result = investpy.search_quotes('apple',['stocks'],['united states'],1)
print(search_result)

{"id_": 6408, "name": "Apple Inc", "symbol": "AAPL", "country": "united states", "tag": "/equities/apple-computer-inc", "pair_type": "stocks", "exchange": "NASDAQ"}

In [15]:
print('https://investing.com' + search_result.tag)

https://investing.com/equities/apple-computer-inc

In [16]:
search_result.retrieve_information()

{'prevClose': 146.5,
 'dailyRange': '140.09-146.13',
 'revenue': 386020000000,
 'open': 142.8,
 'weekRange': '122.86-182.94',
 'eps': 6.15,
 'volume': 55855803,
 'marketCap': 2290000000000,
 'dividend': '0.92(0.63%)',
 'avgVolume': 92431071,
 'ratio': 23.81,
 'beta': 1.21,
 'oneYearReturn': '16.35%',
 'sharesOutstanding': 16185181000,
 'nextEarningDate': '02/08/2022'}

In [18]:
search_result.retrieve_information()['sharesOutstanding']

16185181000

In [23]:
df = search_result.retrieve_historical_data(from_date='01/01/2021', to_date='31/12/2021')
df

              Open    High     Low   Close     Volume  Change Pct
Date
2021-01-04  133.52  133.61  126.76  129.41  143302000       -2.47
2021-01-05  128.89  131.74  128.43  131.01   97665000        1.24
2021-01-06  127.72  131.05  126.38  126.60  155088000       -3.37
2021-01-07  128.36  131.63  127.86  130.92  109578000        3.41
2021-01-08  132.43  132.63  130.23  132.05  105158000        0.86
...            ...     ...     ...     ...        ...         ...
2021-12-27  177.09  180.42  177.07  180.33   73007000        2.30
2021-12-28  180.16  181.33  178.53  179.29   76894000       -0.58
2021-12-29  179.33  180.63  178.14  179.38   61073000        0.05
2021-12-30  179.47  180.57  178.09  178.20   59356000       -0.66
2021-12-31  178.09  179.23  177.26  177.57   64062000       -0.35

[252 rows x 6 columns]

In [30]:
print(df['High'].max())
print(df['Low'].min())
print(df.shape)

182.13
116.21
(252, 6)