In [1]:
import pandas as pd

raw_ds = pd.read_csv('../../data/train.csv', index_col=0)
raw_ds.head()

,Unrealized Gain (Loss),Net Income,"Property/Plant/Equipment, Total - Gross",Short Term Investments,Income Available to Common Excluding Extraordinary Items,Additional Paid-In Capital,Total Equity,"Redeemable Preferred Stock, Total",Long Term Debt,Net Income/Starting Line,...,Net Interest Income After Loan Loss Provision,Loan Loss Provision,Total Short Term Borrowings,"Interest Income, Bank","Other Bearing Liabilities, Total",Net Loans,Total Interest Expense,"Non-Interest Expense, Bank",Total Deposits,Net Interest Income
0,0.0,5449.00,27514.00,404.00,5449.00,6162.00,12867.00,0.0,17989.0,5388.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,4570.00,26982.00,568.00,4570.00,5907.00,10063.00,0.0,17518.0,4582.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,5349.00,24873.00,380.00,5525.00,5643.00,9796.00,0.0,13411.0,5363.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,225.53,284.59,350.99,225.53,800.69,1329.67,0.0,0.0,225.53,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,203.01,234.97,250.78,203.01,739.13,1065.47,0.0,0.0,203.01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
raw_ds.tail()

,Unrealized Gain (Loss),Net Income,"Property/Plant/Equipment, Total - Gross",Short Term Investments,Income Available to Common Excluding Extraordinary Items,Additional Paid-In Capital,Total Equity,"Redeemable Preferred Stock, Total",Long Term Debt,Net Income/Starting Line,...,Net Interest Income After Loan Loss Provision,Loan Loss Provision,Total Short Term Borrowings,"Interest Income, Bank","Other Bearing Liabilities, Total",Net Loans,Total Interest Expense,"Non-Interest Expense, Bank",Total Deposits,Net Interest Income
1480,0.0,1500.0,3866.0,0.0,1500.0,1044.0,2708.0,0.0,5947.0,1500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1481,0.0,1428.0,3257.0,99.0,1383.0,1026.0,2185.0,0.0,6443.0,1424.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1482,5.0,5669.0,6716.0,2255.0,2485.0,16497.0,3561.0,0.0,7740.0,5667.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1483,5.0,1786.0,7097.0,1829.0,1516.0,16126.0,2870.0,0.0,6722.0,1786.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1484,-56.0,2530.0,6344.0,2696.0,2065.0,15716.0,6281.0,0.0,7685.0,2530.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
raw_ds[raw_ds==0].count() <= 74.2
# The number of data point (which is zero) is must be lower than 0.05% (In this case, 74.2).

Unrealized Gain (Loss)                                      False
Net Income                                                   True
Property/Plant/Equipment, Total - Gross                      True
Short Term Investments                                      False
Income Available to Common Excluding Extraordinary Items     True
                                                            ...
Net Loans                                                   False
Total Interest Expense                                      False
Non-Interest Expense, Bank                                  False
Total Deposits                                              False
Net Interest Income                                         False
Length: 132, dtype: bool

In [4]:
trash_columns = []
alpha = 0
for col in raw_ds.columns:
    if raw_ds[col][raw_ds[col]==0].count() > alpha:
        trash_columns.append(col)
len(trash_columns)

110

In [5]:
dropped_ds = raw_ds.drop(trash_columns, axis=1)
dropped_ds.head()

,Net Income,Income Available to Common Excluding Extraordinary Items,Total Equity,Diluted Normalized EPS,Net Income After Taxes,avg Volume,Net Income Before Taxes,Total Liabilities & Shareholders' Equity,Cash From Operating Activities,Net Change in Cash,...,Cash From Financing Activities,Total Liabilities,High,Total Assets,Diluted Net Income,Diluted Weighted Average Shares,Changes in Working Capital,Cash From Investing Activities,Total Common Shares Outstanding,Diluted EPS Excluding Extraordinary Items
0,5449.00,5449.00,12867.00,9.12,5458.00,3.339831e+06,6795.00,47344.00,8113.00,2281.00,...,-5300.00,34477.00,182.54,47344.00,5449.00,582.20,856.00,-580.00,577.75,9.36
1,4570.00,4570.00,10063.00,9.12,4582.00,2.751939e+06,5712.00,44659.00,7070.00,-500.00,...,-1124.00,34596.00,219.75,44659.00,4570.00,585.10,692.00,-6444.00,575.18,7.81
2,5349.00,5525.00,9796.00,8.64,5539.00,2.607014e+06,7000.00,36500.00,6439.00,-200.00,...,-6701.00,26704.00,259.77,36500.00,5349.00,602.00,-152.00,222.00,576.58,9.18
3,225.53,225.53,1329.67,4.94,225.53,3.720080e+05,288.22,1494.36,274.58,40.37,...,-8.07,164.68,387.40,1494.36,225.53,45.67,-17.39,-223.34,45.27,4.94
4,203.01,203.01,1065.47,4.51,203.01,7.583739e+05,256.82,1216.46,314.92,71.32,...,-117.72,151.00,293.44,1216.46,203.01,45.82,8.03,-125.45,45.01,4.43

In [6]:
dropped_ds.mean().to_csv('../../data/feat_mean.csv')
dropped_ds.std().to_csv('../../data/feat_std.csv')
dropped_ds.min().to_csv('../../data/feat_min.csv')
dropped_ds.max().to_csv('../../data/feat_max.csv')

train_ds = (dropped_ds - dropped_ds.mean()) / dropped_ds.std()
train_ds = (dropped_ds - dropped_ds.min()) / (dropped_ds.max() - dropped_ds.min())

train_ds.to_csv('../../data/train_ds.csv')
train_ds.head()

,Net Income,Income Available to Common Excluding Extraordinary Items,Total Equity,Diluted Normalized EPS,Net Income After Taxes,avg Volume,Net Income Before Taxes,Total Liabilities & Shareholders' Equity,Cash From Operating Activities,Net Change in Cash,...,Cash From Financing Activities,Total Liabilities,High,Total Assets,Diluted Net Income,Diluted Weighted Average Shares,Changes in Working Capital,Cash From Investing Activities,Total Common Shares Outstanding,Diluted EPS Excluding Extraordinary Items
0,0.268533,0.268709,0.067572,0.000808,0.273480,0.021351,0.271153,0.013888,0.548143,0.371659,...,0.124598,0.011074,0.039694,0.013888,0.271122,0.029032,0.774439,0.679727,0.030297,0.000784
1,0.260069,0.260247,0.061496,0.000808,0.265143,0.017561,0.262922,0.013095,0.541648,0.364982,...,0.130671,0.011113,0.047913,0.013095,0.262689,0.029177,0.773346,0.664475,0.030162,0.000753
2,0.267570,0.269440,0.060917,0.000798,0.274251,0.016627,0.272711,0.010684,0.537719,0.365702,...,0.122560,0.008571,0.056753,0.010684,0.270163,0.030022,0.767720,0.681813,0.030235,0.000780
3,0.218238,0.218426,0.042571,0.000724,0.223679,0.002219,0.221701,0.000341,0.499331,0.366279,...,0.132294,0.000025,0.084945,0.000341,0.221006,0.002204,0.768617,0.680655,0.002299,0.000695
4,0.218021,0.218209,0.041999,0.000715,0.223465,0.004710,0.221463,0.000259,0.499582,0.366354,...,0.132134,0.000020,0.064190,0.000259,0.220790,0.002212,0.768786,0.680909,0.002285,0.000685

In [7]:
raw_ds = pd.read_csv('../../data/test.csv', index_col=0)
dropped_ds = raw_ds.drop(trash_columns, axis=1)

test_ds = (dropped_ds - dropped_ds.mean()) / dropped_ds.std()
test_ds = (dropped_ds - dropped_ds.min()) / (dropped_ds.max() - dropped_ds.min())

test_ds.to_csv('../../data/test_ds.csv')
test_ds.head()

,Net Income,Income Available to Common Excluding Extraordinary Items,Total Equity,Diluted Normalized EPS,Net Income After Taxes,avg Volume,Net Income Before Taxes,Total Liabilities & Shareholders' Equity,Cash From Operating Activities,Net Change in Cash,...,Cash From Financing Activities,Total Liabilities,High,Total Assets,Diluted Net Income,Diluted Weighted Average Shares,Changes in Working Capital,Cash From Investing Activities,Total Common Shares Outstanding,Diluted EPS Excluding Extraordinary Items
0,0.268533,0.268709,0.067572,0.000808,0.273480,0.021351,0.271153,0.013888,0.548143,0.371659,...,0.124598,0.011074,0.039694,0.013888,0.271122,0.029032,0.774439,0.679727,0.030297,0.000784
1,0.260069,0.260247,0.061496,0.000808,0.265143,0.017561,0.262922,0.013095,0.541648,0.364982,...,0.130671,0.011113,0.047913,0.013095,0.262689,0.029177,0.773346,0.664475,0.030162,0.000753
2,0.267570,0.269440,0.060917,0.000798,0.274251,0.016627,0.272711,0.010684,0.537719,0.365702,...,0.122560,0.008571,0.056753,0.010684,0.270163,0.030022,0.767720,0.681813,0.030235,0.000780
3,0.218238,0.218426,0.042571,0.000724,0.223679,0.002219,0.221701,0.000341,0.499331,0.366279,...,0.132294,0.000025,0.084945,0.000341,0.221006,0.002204,0.768617,0.680655,0.002299,0.000695
4,0.218021,0.218209,0.041999,0.000715,0.223465,0.004710,0.221463,0.000259,0.499582,0.366354,...,0.132134,0.000020,0.064190,0.000259,0.220790,0.002212,0.768786,0.680909,0.002285,0.000685