In [1]:
import pandas as pd

train_ds = pd.read_csv('../../data/train.csv', index_col=0)
train_ds.head()

,Unrealized Gain (Loss),Net Income,"Property/Plant/Equipment, Total - Gross",Short Term Investments,Income Available to Common Excluding Extraordinary Items,Additional Paid-In Capital,Total Equity,"Redeemable Preferred Stock, Total",Long Term Debt,Net Income/Starting Line,...,Net Interest Income After Loan Loss Provision,Loan Loss Provision,Total Short Term Borrowings,"Interest Income, Bank","Other Bearing Liabilities, Total",Net Loans,Total Interest Expense,"Non-Interest Expense, Bank",Total Deposits,Net Interest Income
0,0.0,5449.00,27514.00,404.00,5449.00,6162.00,12867.00,0.0,17989.0,5388.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,4570.00,26982.00,568.00,4570.00,5907.00,10063.00,0.0,17518.0,4582.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,5349.00,24873.00,380.00,5525.00,5643.00,9796.00,0.0,13411.0,5363.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,225.53,284.59,350.99,225.53,800.69,1329.67,0.0,0.0,225.53,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,203.01,234.97,250.78,203.01,739.13,1065.47,0.0,0.0,203.01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
train_ds.tail()

,Unrealized Gain (Loss),Net Income,"Property/Plant/Equipment, Total - Gross",Short Term Investments,Income Available to Common Excluding Extraordinary Items,Additional Paid-In Capital,Total Equity,"Redeemable Preferred Stock, Total",Long Term Debt,Net Income/Starting Line,...,Net Interest Income After Loan Loss Provision,Loan Loss Provision,Total Short Term Borrowings,"Interest Income, Bank","Other Bearing Liabilities, Total",Net Loans,Total Interest Expense,"Non-Interest Expense, Bank",Total Deposits,Net Interest Income
1480,0.0,1500.0,3866.0,0.0,1500.0,1044.0,2708.0,0.0,5947.0,1500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1481,0.0,1428.0,3257.0,99.0,1383.0,1026.0,2185.0,0.0,6443.0,1424.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1482,5.0,5669.0,6716.0,2255.0,2485.0,16497.0,3561.0,0.0,7740.0,5667.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1483,5.0,1786.0,7097.0,1829.0,1516.0,16126.0,2870.0,0.0,6722.0,1786.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1484,-56.0,2530.0,6344.0,2696.0,2065.0,15716.0,6281.0,0.0,7685.0,2530.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
train_ds[train_ds==0].count()
# The number of data point (which is zero) is must be lower than 0.05% (In this case, 74.2).

Unrealized Gain (Loss)                                       918
Net Income                                                     0
Property/Plant/Equipment, Total - Gross                       56
Short Term Investments                                       991
Income Available to Common Excluding Extraordinary Items       0
                                                            ...
Net Loans                                                   1416
Total Interest Expense                                      1416
Non-Interest Expense, Bank                                  1416
Total Deposits                                              1416
Net Interest Income                                         1416
Length: 132, dtype: int64

In [4]:
trash_columns = []
for col in train_ds.columns:
    if train_ds[col][train_ds[col]==0].count() > 74.2:
        trash_columns.append(col)
len(trash_columns)

91

In [5]:
dropped_train_ds = train_ds.drop(trash_columns, axis=1)
dropped_train_ds.head()

,Net Income,"Property/Plant/Equipment, Total - Gross",Income Available to Common Excluding Extraordinary Items,Total Equity,Long Term Debt,Net Income/Starting Line,Total Revenue,Diluted Normalized EPS,Provision for Income Taxes,"Other Equity, Total",...,Total Assets,Diluted Net Income,Diluted Weighted Average Shares,Changes in Working Capital,Cash From Investing Activities,Total Common Shares Outstanding,Retained Earnings (Accumulated Deficit),Diluted EPS Excluding Extraordinary Items,Depreciation/Depletion,"Property/Plant/Equipment, Total - Net"
0,5449.00,27514.00,5449.00,12867.00,17989.0,5388.00,32184.00,9.12,1337.00,-7661.00,...,47344.00,5449.00,582.20,856.00,-580.00,577.75,43761.00,9.36,1911.00,10285.00
1,4570.00,26982.00,4570.00,10063.00,17518.0,4582.00,32136.00,9.12,1130.00,-8139.00,...,44659.00,4570.00,585.10,692.00,-6444.00,575.18,42135.00,7.81,1593.00,10191.00
2,5349.00,24873.00,5525.00,9796.00,13411.0,5363.00,32765.00,8.64,1461.00,-6866.00,...,36500.00,5349.00,602.00,-152.00,222.00,576.58,40636.00,9.18,1488.00,8738.00
3,225.53,284.59,225.53,1329.67,0.0,225.53,847.52,4.94,62.70,-11.45,...,1494.36,225.53,45.67,-17.39,-223.34,45.27,828.01,4.94,24.10,203.24
4,203.01,234.97,203.01,1065.47,0.0,203.01,840.88,4.51,53.82,-11.19,...,1216.46,203.01,45.82,8.03,-125.45,45.01,602.48,4.43,20.43,176.69

In [6]:
train_targ = dropped_train_ds[['High', 'Low']]
train_feat = dropped_train_ds.drop(['High', 'Low'], axis=1)

In [7]:
train_targ.head()

     High     Low
0  182.54  114.04
1  219.75  150.58
2  259.77  176.87
3  387.40  143.66
4  293.44  119.01

In [8]:
train_feat.head()

,Net Income,"Property/Plant/Equipment, Total - Gross",Income Available to Common Excluding Extraordinary Items,Total Equity,Long Term Debt,Net Income/Starting Line,Total Revenue,Diluted Normalized EPS,Provision for Income Taxes,"Other Equity, Total",...,Total Assets,Diluted Net Income,Diluted Weighted Average Shares,Changes in Working Capital,Cash From Investing Activities,Total Common Shares Outstanding,Retained Earnings (Accumulated Deficit),Diluted EPS Excluding Extraordinary Items,Depreciation/Depletion,"Property/Plant/Equipment, Total - Net"
0,5449.00,27514.00,5449.00,12867.00,17989.0,5388.00,32184.00,9.12,1337.00,-7661.00,...,47344.00,5449.00,582.20,856.00,-580.00,577.75,43761.00,9.36,1911.00,10285.00
1,4570.00,26982.00,4570.00,10063.00,17518.0,4582.00,32136.00,9.12,1130.00,-8139.00,...,44659.00,4570.00,585.10,692.00,-6444.00,575.18,42135.00,7.81,1593.00,10191.00
2,5349.00,24873.00,5525.00,9796.00,13411.0,5363.00,32765.00,8.64,1461.00,-6866.00,...,36500.00,5349.00,602.00,-152.00,222.00,576.58,40636.00,9.18,1488.00,8738.00
3,225.53,284.59,225.53,1329.67,0.0,225.53,847.52,4.94,62.70,-11.45,...,1494.36,225.53,45.67,-17.39,-223.34,45.27,828.01,4.94,24.10,203.24
4,203.01,234.97,203.01,1065.47,0.0,203.01,840.88,4.51,53.82,-11.19,...,1216.46,203.01,45.82,8.03,-125.45,45.01,602.48,4.43,20.43,176.69

In [9]:
train_feat.mean().to_csv('../../data/feat_mean.csv')
train_feat.std().to_csv('../../data/feat_std.csv')
train_feat.min().to_csv('../../data/feat_min.csv')
train_feat.max().to_csv('../../data/feat_max.csv')

feat = (train_feat - train_feat.mean()) / train_feat.std()
feat = (train_feat - train_feat.min()) / (train_feat.max() - train_feat.min())

feat.to_csv('../../data/processed_train_feat.csv')
feat.head()

,Net Income,"Property/Plant/Equipment, Total - Gross",Income Available to Common Excluding Extraordinary Items,Total Equity,Long Term Debt,Net Income/Starting Line,Total Revenue,Diluted Normalized EPS,Provision for Income Taxes,"Other Equity, Total",...,Total Assets,Diluted Net Income,Diluted Weighted Average Shares,Changes in Working Capital,Cash From Investing Activities,Total Common Shares Outstanding,Retained Earnings (Accumulated Deficit),Diluted EPS Excluding Extraordinary Items,Depreciation/Depletion,"Property/Plant/Equipment, Total - Net"
0,0.268533,0.053801,0.268709,0.067572,0.063784,0.272641,0.057559,0.000808,0.261929,0.460301,...,0.013888,0.271122,0.029032,0.774439,0.679727,0.030297,0.139837,0.000784,0.041535,0.039611
1,0.260069,0.052761,0.260247,0.061496,0.062114,0.264968,0.057473,0.000808,0.254121,0.452286,...,0.013095,0.262689,0.029177,0.773346,0.664475,0.030162,0.136348,0.000753,0.034624,0.039249
2,0.267570,0.048637,0.269440,0.060917,0.047552,0.272403,0.058598,0.000798,0.266606,0.473632,...,0.010684,0.270163,0.030022,0.767720,0.681813,0.030235,0.133132,0.000780,0.032341,0.033653
3,0.218238,0.000556,0.218426,0.042571,0.000000,0.223494,0.001516,0.000724,0.213862,0.588570,...,0.000341,0.221006,0.002204,0.768617,0.680655,0.002299,0.047713,0.000695,0.000524,0.000783
4,0.218021,0.000459,0.218209,0.041999,0.000000,0.223280,0.001504,0.000715,0.213527,0.588574,...,0.000259,0.220790,0.002212,0.768786,0.680909,0.002285,0.047229,0.000685,0.000444,0.000680

In [10]:
train_targ.mean().to_csv('../../data/targ_mean.csv')
train_targ.std().to_csv('../../data/targ_std.csv')
train_targ.min().to_csv('../../data/targ_min.csv')
train_targ.max().to_csv('../../data/targ_max.csv')

targ = (train_targ - train_targ.mean()) / train_targ.std()
targ = (train_targ - train_targ.min()) / (train_targ.max() - train_targ.min())

targ.to_csv('../../data/processed_train_targ.csv')
targ.head()

In [ ]:
test_ds = pd.read_csv('../../data/test.csv', index_col=0)
dropped_test_ds = test_ds.drop(trash_columns, axis=1)

test_targ = dropped_test_ds[['High', 'Low']]
test_feat = dropped_test_ds.drop(['High', 'Low'], axis=1)

feat = (test_feat - train_feat.mean()) / train_feat.std()
feat = (test_feat - train_feat.min()) / (train_feat.max() - train_feat.min())

feat.to_csv('../../data/processed_test_feat.csv')

targ = (test_targ - train_targ.mean()) / train_targ.std()
targ = (test_targ - train_targ.min()) / (train_targ.max() - train_targ.min())

targ.to_csv('../../data/processed_test_targ.csv')